<!doctype html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-home"></span> Public Room</h1>
        <h4>Chatting as @<%= username %></h4>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a><br><br>
    </div>

    <ul id="messages" class="list-group">
        <li id="template" style="display: none; list-style-type: none" class="list-group-item">
            <i></i>
            <span></span>
        </li>
    </ul>
    <form action="">
        <input id="m" autocomplete="off" />
        <input type="hidden" value="<%=username%>" id="username"/>
        <button id="send" type="submit" disabled>Send</button>
    </form>

</div>
<script>window.state=<%- state %></script>
<script src="/js1/cli-index.js"></script>
</body>
</html>